<!-- Tab con los componentes de ingresos tabs-->
<div class="mat-elevation-z10" style="width: 99% !important;">
    <mat-card class="shipping-card">
        <mat-card-content>
            <mat-tab-group mat-align-tabs="start">
                <mat-tab label="Egresos Fijos">
                    <app-importadora-egresos-tab-gasto-fijo></app-importadora-egresos-tab-gasto-fijo>
                </mat-tab>
                <mat-tab label="Egresos Neumáticos">
                    <app-importadora-egresos-tab-gasto-neumaticos></app-importadora-egresos-tab-gasto-neumaticos>
                </mat-tab>
            </mat-tab-group>
        </mat-card-content>
    </mat-card>
</div>