<div class="mat-elevation-z10">
    <mat-card class="shipping-card">
        <mat-card-header>
            <h1> Acciones </h1>
        </mat-card-header>
        <br><br>
        <mat-card-content>
            <div class="row">
                <!--  Mostrar Contratos Cliente-->
                <div class="col">
                    <button mat-raised-button color="primary" type="submit" style="width: 50%;">
                        <mat-icon>visibility</mat-icon>  Mostrar Contratos Cliente
                    </button>
                    <button mat-raised-button color="primary" type="submit" style="width: 50%;" (click)="openDialogContratos()">
                        <mat-icon>note_add</mat-icon> Contratos 
                    </button>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>