<div class="mat-elevation-z10">
    <mat-card class="shipping-card">
        <mat-card-header>
            <h1> Acciones </h1>
        </mat-card-header>
        <br><br>
        <mat-card-content>
            <div class="row">
                <!--  Botones Acciones -->
                <div class="col">
                    <!-- Boton mostrar tabla contratos clientes -->
                    <button mat-raised-button color="primary" type="submit" class="boton-inicio" (click)="activarTablaContratos()">
                        <mat-icon>visibility</mat-icon>  Mostrar Contratos Cliente
                    </button>
                    <!-- Boton Modal Generar Contrato-->
                    <button mat-raised-button color="primary" type="submit" class="boton-inicio" (click)="openDialogContratos()">
                        <mat-icon>note_add</mat-icon> Contratos 
                    </button>
                </div>
            </div>
            <br>
            <!-- Tabla Contratos Clientes -->
            <div *ngIf="validacion">
                <app-dialog-mostrar-contratos></app-dialog-mostrar-contratos>
            </div>
        </mat-card-content>
    </mat-card>
</div>