<form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()" class="mat-elevation-z10">
    <mat-card class="shipping-card">
      <mat-card-header>
        <h1> Intercambio entre empresas </h1>
      </mat-card-header>
      <br><br>
      <mat-card-content>
        <div class="row">
          <!-- Empresa Prestamista-->          
          <div class="col">
            <mat-form-field class="full-width">
              <mat-select placeholder="Empresa Prestamista" formControlName="empresaS">
                <mat-option *ngFor="let empresaS of prestamosE.nombre" [value]="empresaS">
                  {{ empresaS }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="addressForm.controls['empresaS'].hasError('required')">
                tipo de pago es <strong>requrido</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <!-- BANCOS PRESTAMISTA-->
          <div class="col">
            <mat-form-field class="full-width">
                <mat-select placeholder="Banco Prestamista" formControlName="bancoS">
                    <mat-option *ngFor="let s of prestamosE.NombreInstitucion" value="{{ s }}">                    
                        {{ s }}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="addressForm.controls['bancoS'].hasError('required')">
                    sucursal es <strong>requrido</strong>
                </mat-error>
            </mat-form-field>
        </div>          
        </div>
        <div class="row">          
            <!-- Empresa que adeuda-->          
            <div class="col">
              <mat-form-field class="full-width">
                <mat-select placeholder="Empresa que recibe el prestamo" formControlName="empresaD">
                  <mat-option *ngFor="let empresaD of prestamosE.nombre" [value]="empresaD">
                    {{ empresaD }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="addressForm.controls['empresaD'].hasError('required')">
                  tipo de pago es <strong>requrido</strong>
                </mat-error>
              </mat-form-field>
            </div>        

            <!-- BANCOS QUE ADEUDA-->
          <div class="col">
            <mat-form-field class="full-width">
                <mat-select placeholder="Banco que recibe el prestamo" formControlName="bancoD">
                    <mat-option *ngFor="let s of prestamosE.NombreInstitucion" value="{{ s }}">                    
                        {{ s }}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="addressForm.controls['bancoD'].hasError('required')">
                    sucursal es <strong>requrido</strong>
                </mat-error>
            </mat-form-field>
          </div>            
          </div>
            <!-- fin -->
            <div class="row">
                <!-- select fecha -->
          <div class="col">
            <mat-form-field class="full-width">
              <mat-label>Seleccionar fecha</mat-label>
              <input matInput formControlName="fecha" [matDatepicker]="picker" />
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error *ngIf="addressForm.controls['fecha'].hasError('required')">
                fecha es <strong>requerido</strong>
              </mat-error>
            </mat-form-field>
          </div>
                <!-- monto -->
                <div class="col">
                  <mat-form-field class="full-width">
                    <input matInput placeholder="Monto" formControlName="monto" type="number" />
                    <mat-error *ngIf="addressForm.controls['monto'].hasError('required')">
                      Monto es <strong>requerido</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
                <!-- Tipo de Pago -->        
          <div class="col">
            <mat-form-field class="full-width">
              <mat-select placeholder="Tipo de Pago" formControlName="tipoPago">
                <mat-option *ngFor="let tipoPago of tiposPagos" [value]="tipoPago">
                  {{ tipoPago }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="addressForm.controls['tipoPago'].hasError('required')">
                tipo de pago es <strong>requrido</strong>
              </mat-error>
            </mat-form-field>
          </div>
              </div>
              <div class="row">  
                <!-- responsable -->
                <div class="col">
                  <mat-form-field class="full-width">
                    <input matInput placeholder="ingrese un responsable del registro" formControlName="responsable" />
                    <mat-error *ngIf="addressForm.controls['responsable'].hasError('required')">
                    responsable es <strong>requerido</strong>
                    </mat-error>
                  </mat-form-field>
                </div>  
                <!-- descripcion -->
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="ingrese una descripcion del registro" formControlName="descripcion" />
              <mat-error *ngIf="addressForm.controls['descripcion'].hasError('required')">
                descripcion es <strong>requerido</strong>
              </mat-error>
            </mat-form-field>
          </div>        
            </div>
                </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit">
          <mat-icon>send</mat-icon> Enviar
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
