/* tabla responsiva */

.table-responsive,
mat-toolbar {
    width: 100% !important;
    overflow-x: auto !important;
}

mat-toolbar > button {
    margin-right: 20px;
}

.mat-raised-button,
.mat-stroked-button,
.mat-flat-button {
    min-width: 8rem !important;
}


/* fin */

td,
th {
    text-align: center !important;
    padding: 5px !important;
}



.mat-column-select {
    padding-right: 20px !important;
}

.mat-column-id {
    padding-right: 20px !important;
}

.mat-column-fechaContrato {
    padding-right: 20px !important;
}

.mat-column-sucursal {
    padding-right: 20px !important;
}

.mat-column-cliente {
    padding-right:20px !important;
}

.mat-column-clienteRut {
    padding-right: 20px !important;
}

.mat-column-estadoPago {
    padding-right: 20px !important;
}

.mat-column-montoContrato {
    padding-right: 20px !important;
}

mat-form-field {
    width: 100%
}