<!-- Tab con los componentes de ingresos tabs-->
<div class="mat-elevation-z10">
    <mat-card class="shipping-card">
        <mat-card-content>
            <mat-tab-group mat-align-tabs="start">
                <mat-tab label="Contratos">
                    <app-abogados-ingresos-tabs-contratos></app-abogados-ingresos-tabs-contratos>
                </mat-tab>
                <mat-tab label="Clientes">
                    <app-abogados-ingresos-tabs-clientes></app-abogados-ingresos-tabs-clientes>
                </mat-tab>
                <mat-tab label="Cuotas">
                    <app-abogados-ingresos-tabs-cuotas></app-abogados-ingresos-tabs-cuotas>
                </mat-tab>
            </mat-tab-group>
        </mat-card-content>
    </mat-card>
</div>