table {
    width: 100%;
  }
  
  th.mat-sort-header-sorted {
    color: black;
  }
  .mat-column-select {
    padding-right: 20px;
  }

  .mat-column-id {
    padding-right: 20px;
  }

  .mat-column-fecha {
    padding-right: 20px;
  }

  .mat-column-proyecto {
    padding-right: 20px;
  }

  .mat-column-tipoIngreso {
    padding-right: 20px;
  }

  .mat-column-descripcionIngreso {
    padding-right: 20px;
  }

  .mat-column-estadoPago {
    padding-right: 20px;
  }

  .mat-column-nAutorizacion {
    padding-right: 20px;
  }

  .mat-column-nDocumento {
    padding-right: 20px;
  }

  .mat-column-monto {
    padding-right: 20px;
  }

  mat-form-field {
    width: 100%
  }