/* tabla responsiva */

.table-responsive,
mat-toolbar {
    width: 100% !important;
    overflow-x: auto !important;
}

span {
    margin-left: 2rem;
}

.mat-column-select {
    padding-right: 20px;
}

.mat-column-id {
    padding-right: 20px;
}

.mat-column-fecha {
    padding-right: 20px;
}

.mat-column-sucursal {
    padding-right: 20px;
}

.mat-column-numeroCuota {
    padding-right: 20px;
}

.mat-column-monto {
    padding-right: 20px;
}

.mat-column-tipoEgreso {
    padding-right: 20px;
}

.mat-column-usuario {
    padding-right: 20px;
}

.mat-column-respaldos {
    padding-right: 20px;
}

mat-form-field {
    width: 100%
}

.limit-width-40 {
    max-width: 40px;
  }