/* tabla responsiva */

table {
    width: 100%;
}


th.mat-sort-header-sorted {
    color: black;
  }

.mat-column-select {
    padding-right: 20px;
}

.mat-column-id {
    padding-right: 20px;
}

.mat-column-fecha {
    padding-right: 20px;
}

.mat-column-proyecto {
    padding-right: 20px;
}

.mat-column-descripcion {
    padding-right: 20px;
}

.mat-column-numeroCuota {
    padding-right: 20px;
}

.mat-column-monto {
    padding-right: 20px;
}

.mat-column-tipoEgreso {
    padding-right: 20px;
}

.mat-column-usuario {
    padding-right: 20px;
}

mat-form-field {
    width: 100%
}