<form [formGroup]="addressFormConteiner" novalidate class="mat-elevation-z10">
    <mat-card class="shipping-card">
        <mat-card-header>
            <h1> Agregar Container</h1>
        </mat-card-header>
        <br><br>
        <mat-card-content>
            <div class="row">
                <!-- Fecha -->
                <div class="col">
                    <mat-form-field class="full-width">
                        <mat-label>Seleccionar fecha</mat-label>
                        <input matInput formControlName="fecha" [matDatepicker]="picker" />
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        <mat-error *ngIf="addressFormConteiner.controls['fecha'].hasError('required')">
                            fecha es <strong>requerido</strong>
                        </mat-error>
                    </mat-form-field>
                </div>

                <!-- Sucursal -->
                <div class="col">
                    <mat-form-field class="full-width">
                        <mat-select placeholder="Sucursal" formControlName="idSucursal">
                            <mat-option *ngFor="let s of empresa.Sucursals" value="{{ s.id }}">
                                {{ s.razonSocial }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="addressFormConteiner.controls['idSucursal'].hasError('required')">
                            sucursal es <strong>requrido</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">

                <!-- Conteiner -->
                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="N° Conteiner" formControlName="nContainer" type="number" />
                        <mat-error *ngIf="addressFormConteiner.controls['nContainer'].hasError('required')">
                            este campo es <strong>requerido</strong>
                        </mat-error>
                    </mat-form-field>
                </div>

                <!-- Neumáticos -->
                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Costo Neumáticos" formControlName="costoNeumatico" type="number" />
                        <mat-error *ngIf="addressFormConteiner.controls['costoNeumatico'].hasError('required')">
                            este campo es <strong>requerido</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">

                <!-- Comisión -->
                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Costo Comisión" formControlName="costoComision" type="number" />
                        <mat-error *ngIf="addressFormConteiner.controls['costoComision'].hasError('required')">
                            este campo es <strong>requerido</strong>
                        </mat-error>
                    </mat-form-field>
                </div>

                <!-- Interior -->
                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Costo Interior" formControlName="costoInterior" type="number" />
                        <mat-error *ngIf="addressFormConteiner.controls['costoInterior'].hasError('required')">
                            este campo es <strong>requerido</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <!-- Marítimo -->
                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Costo Marítimo" formControlName="costoMaritimo" type="number" />
                        <mat-error *ngIf="addressFormConteiner.controls['costoMaritimo'].hasError('required')">
                            este campo es <strong>requerido</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
                <!-- Prontuario -->
                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Impuesto Prontuario" formControlName="impuestoProntuario" type="number" />
                        <mat-error *ngIf="addressFormConteiner.controls['impuestoProntuario'].hasError('required')">
                            este campo es <strong>requerido</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <!-- Impuestos ,Seguros y Transporte -->
                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Impuestos ,Seguros y Transporte" formControlName="seguros" type="number" />
                        <mat-error *ngIf="addressFormConteiner.controls['seguros'].hasError('required')">
                            este campo es <strong>requerido</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
                <!-- Cantidad Tipos Neumáticos -->
                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Cantidad Tipos Neumáticos" formControlName="cantidadTipo" type="number" />
                        <mat-error *ngIf="addressFormConteiner.controls['cantidadTipo'].hasError('required')">
                            este campo es <strong>requerido</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </mat-card-content>
        <button mat-raised-button color="primary" (click)="validarConteiner()">
                    <mat-icon>send</mat-icon> Enviar
            </button>
    </mat-card>
</form>

<!-- Formulario Neumaticos-->
<form [formGroup]="addressFormNeumatico" novalidate class="mat-elevation-z10">
    <mat-dialog-content>
        <mat-card class="shipping-card">
            <mat-card-header>
                <h1>
                    Conteiner : {{ container.nContainer }} Monto total: {{ container.montoTotal }}
                </h1>
            </mat-card-header>
            <br><br>
            <mat-card-content>
                <div class="row">
                    <div class="col">
                        <mat-form-field class="full-width">
                            <input matInput placeholder="Tipo Neumático" formControlName="tipoNeumatico" />
                            <mat-error *ngIf="addressFormNeumatico.controls['tipoNeumatico'].hasError('required')">
                                este campo es <strong>requerido</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <mat-form-field class="full-width">
                            <input matInput placeholder="Cantidad" formControlName="cantidad" type="number" />
                            <mat-error *ngIf="addressFormNeumatico.controls['cantidad'].hasError('required')">
                                este campo es <strong>requerido</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <mat-form-field class="full-width">
                            <input matInput placeholder="% Container" formControlName="pContainer" type="number" />
                            <mat-error *ngIf="addressFormNeumatico.controls['pContainer'].hasError('required')">
                                este campo es <strong>requerido</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <mat-form-field class="full-width">
                            <input matInput placeholder="% Ganancia" formControlName="pGanancia" type="number" />
                            <mat-error *ngIf="addressFormNeumatico.controls['pGanancia'].hasError('required')">
                                este campo es <strong>requerido</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>


                <button mat-raised-button color="primary" (click)="agregarCuotas()">
                    <mat-icon>paid</mat-icon> Agregar
                </button>

                <div class="row">
                    <div class="col">
                        <h1>Neumáticos Registrados</h1>
                        <div class="table-responsive">
                            <table mat-table [dataSource]="dataSource" class="mat-elevation-z10">

                                <ng-container matColumnDef="neumatico">
                                    <th mat-header-cell *matHeaderCellDef> Tipo Neumático </th>
                                    <td mat-cell *matCellDef="let element">
                                        {{ element.fechaPago | date: 'dd/MM/yyyy' }}
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="cantidad">
                                    <th mat-header-cell *matHeaderCellDef> Cantidad </th>
                                    <td mat-cell *matCellDef="let element">
                                        {{ element.montoCuota }}
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="neumatico">
                                    <th mat-header-cell *matHeaderCellDef> % Container </th>
                                    <td mat-cell *matCellDef="let element">
                                        {{ element.fechaPago | date: 'dd/MM/yyyy' }}
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="cantidad">
                                    <th mat-header-cell *matHeaderCellDef> Costo Comision </th>
                                    <td mat-cell *matCellDef="let element">
                                        {{ element.montoCuota }}
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="monto">
                                    <th mat-header-cell *matHeaderCellDef> Costo interior </th>
                                    <td mat-cell *matCellDef="let element">
                                        {{ element.fechaPago | date: 'dd/MM/yyyy' }}
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="monto">
                                    <th mat-header-cell *matHeaderCellDef> Valor Unitario </th>
                                    <td mat-cell *matCellDef="let element">
                                        {{ element.fechaPago | date: 'dd/MM/yyyy' }}
                                    </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

                                <tr class="mat-row" *matNoDataRow>
                                    <td class="mat-cell" colspan="4">No existen coincidencias</td>
                                </tr>
                            </table>
                        </div>
                        <h1>Monto Por Asignar : {{ saldoPendiente }}</h1>
                    </div>
                </div>
            </mat-card-content>
            <button mat-raised-button color="primary" (click)="guardarContrato()">
                <mat-icon>send</mat-icon> Enviar
        </button>
        </mat-card>
    </mat-dialog-content>
</form>