/* tabla responsiva */

.table-responsive,
mat-toolbar {
    width: 100% !important;
    overflow-x: auto !important;
}

span {
    margin-left: 2rem;
}

.mat-column-select {
    padding-right: 20px;
}

.mat-column-id {
    padding-right: 20px;
}

.mat-column-fechaPago {
    padding-right: 20px;
}

.mat-column-montoCuota {
    padding-right: 20px;
}

.mat-column-estadoPago {
    padding-right: 20px;
}

.mat-column-idContrato {
    padding-right: 20px;
}

.mat-column-createdAt {
    padding-right: 20px;
}

.mat-column-updatedAt {
    padding-right: 20px;
}

mat-form-field {
    width: 100%
}