<div class="container">      
    
    <mat-grid-list cols = "3" rowHeight = "100px">
      <mat-grid-tile 
      [colspan] = "3"
      [rowspan] = "1">
      <h5 style="font-size: 20px;">Proyectos Disponibles</h5>                                
                <button
                  type="button" icon="refresh"
                  class="btn bg-indigo text-white align-right"
                  (click)="ngOnInit()">
                  <i class="fa fa-refresh" aria-hidden="true"></i>
                  <mat-icon>autorenew</mat-icon>
                </button>
      </mat-grid-tile>
   </mat-grid-list>
  


    <div class="row" style="margin: 7rem;">        
        <div class="col" *ngFor="let p of proyectos" style="border:1px solid rgb(196, 195, 195); height: 250px;">
          <img style="width: 70%"
            class="card-img-top"
            src="assets/images/agrobanner.png"
            alt="Card image cap"
          />
          <div class="card-body" style="margin-top: 30px;">                             
            <h4 class="card-title" style="font-size: 25px;">{{ p.nombre }}</h4>
            <p class="card-text" style="font-size: 25px;">{{ p.ubicacion }}</p>            
          </div>

          <div class="card-footer">

            <div class="d-flex bd-highlight mb-3">
              <div class="mr-auto p-2 bd-highlight">                                  
                <button
                  class="btn btn-secondary align-left" 
                  (click)="formulario('apendice', p.id)"                                   
                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                  title="Registrar y ver Ingresos"
                  style="margin-top: 20px; float: left; margin-left: 30%;">
                  <i class="fas fa-file-invoice-dollar"></i>
                  <mat-icon>description</mat-icon>                   
                </button>
              </div>

              <div class="mr-auto p-2 bd-highlight">                                  
                <button
                  class="btn btn-secondary align-left" 
                  (click)="openCreateBankAccountModal('createBankAccountModal', p.id)"                          
                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                  title="Crear Proyecto"
                  style="margin-top: 20px; float: right; margin-right: 30%; ">
                  <i class="fas fa-file-invoice-dollar"></i>
                  <mat-icon>account_balance</mat-icon>                   
                </button>
              </div>
            </div>
           
          </div>

        </div>
    </div>
</div>

<jw-modal id="apendice"> 
  <app-agro-firma-ingresos-form [idProyecto]="projectId" (formReady)="formReady($event)"></app-agro-firma-ingresos-form>
  <app-agro-firma-ingresos-list [projectId]="projectId" [updateTime]="updateTime"></app-agro-firma-ingresos-list>
      <div class="card text-left">
        <!-- <div class="card-body">        
          <router-outlet></router-outlet>
        </div> -->
        <div class="card-footer">        
          <button
            id="boton" (click)="closeModal('apendice')"
            type="button"
            class="btn btn-danger" color="primary">
            Cerrar
          </button>
        </div>
      </div>
</jw-modal>

<jw-modal id="createBankAccountModal">
  <app-create-bank-account-form [projectId]="projectId" (formReady)="formReady($event)"></app-create-bank-account-form>
  <app-bank-account-list [projectId]="projectId" [updateTime]="updateTime"></app-bank-account-list>
  <div class="card text-left">
    <div class="card-footer">        
        <button
          id="boton" (click)="closeModal('createBankAccountModal')"
          type="button"
          class="btn btn-danger" color="primary">
          Cerrar
        </button>
    </div>
  </div>
</jw-modal>
    
  <br>
  <br>