/* tabla responsiva */

.table-responsive,
mat-toolbar {
    width: 100% !important;
    overflow-x: auto !important;
}

span {
    margin-left: 2rem;
}

.mat-column-id {
    padding-right: 30px;
    max-width: 50px;
  }

  .limit-width-40 {
    max-width: 40px;
  }

  .limit-width-60 {
    max-width: 60px;
  }

  .limit-width-80 {
    max-width: 80px;
  }

  .limit-width-120 {
    max-width: 120px;
  }

  .limit-width-180 {
    max-width: 180px;
  }

.mat-column-select {
    padding-right: 20px;
}

.mat-column-propiedad {
    padding-right: 20px;
}

.mat-column-fecha {
    padding-right: 20px;
}

.mat-column-monto {
    padding-right: 30px;
}

.mat-column-tipoEgreso {
    padding-right: 20px;
}

.mat-column-descripcionEgreso {
    padding-right: 20px;
}

.mat-column-sucursal {
    padding-right: 20px;
}

.mat-column-numeroCuota {
    padding-right: 20px;
}

.mat-column-usuario {
    padding-right: 20px;
}

.mat-column-respaldos {
    padding-right: 20px;
}

mat-form-field {
    width: 100%
}

