<!-- <br>
<h1> Modulo Lubricentro Rent A Car</h1>
<mat-divider></mat-divider>
<img src="assets/images/lubricentro_web.png" alt="" width="650" height="350"> -->

<br>
<h1> Modulo Lubricentro Rent A Car</h1>
<div style="margin-left: 25%;">
<ul class="legend">
  <li><span class="superawesome"></span> Proximos pagos</li>
  <li><span class="awesome"></span> Proximos pagos a vencerse</li>
</ul>
</div>
<br>
<full-calendar [options]="calendarOptions"></full-calendar>
<mat-divider></mat-divider>
<br>
