.mat-column-numeroCuota{
    padding-right: 20px;
}
.mat-column-estadoPago{
    padding-right: 20px;
}
.mat-column-fecha{
    padding-right: 20px;    
}
.mat-column-monto{
    padding-right: 20px;
}
.mat-column-id{
    padding-right: 20px;
}
.limit-width-180{
    max-width: 180px;
}
.space{
    padding-right: 15px;
}
