.legend { list-style: none; }
.legend li { float: left; margin-right: 10px; }
.legend span { border: 1px solid #ccc; float: left; width: 12px; height: 12px; margin: 2px; }
/* your colors */
.legend .superawesome { background-color: #0000ff; }
.legend .awesome { background-color: #ff0000; }
.legend .awesomeN { background-color: #00ff2a; }