<form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()" class="mat-elevation-z10">
    <mat-card class="shipping-card">
        <mat-card-header>
            <h1>Usuarios</h1>
        </mat-card-header>
        <br><br>
        <mat-card-content>
            <div class="row">
                <!-- sucursales -->
                <div class="col">
                    <mat-form-field class="full-width">
                        <mat-select placeholder="Rol Usuario" formControlName="RolID">
                            <mat-option *ngFor="let rol of roles" value="{{ rol.id }}">
                                {{ rol.nombre }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="addressForm.controls['RolID'].hasError('required')">
                            sucursal es <strong>requrido</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <!-- Razón Social-->
                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Nombres" formControlName="nombre" />
                        <mat-error *ngIf="addressForm.controls['nombre'].hasError('required')">
                            este campo es <strong>requerido</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
                <!-- RUT Sucursal -->
                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Apellidos" formControlName="apellido" />
                        <mat-error *ngIf="addressForm.controls['apellido'].hasError('required')">
                            este campo es <strong>requerido</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <!-- Giro -->
                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Nombre Usuario" formControlName="nombreUsuario" />
                        <mat-error *ngIf="addressForm.controls['nombreUsuario'].hasError('required')">
                            este campo es <strong>requerido</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
                <!-- Dirección -->
                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Contraseña" formControlName="hash" type="password" />
                        <mat-error *ngIf="addressForm.controls['hash'].hasError('required')">
                            este campo es <strong>requerido</strong>
                        </mat-error>
                        <mat-error *ngIf="addressForm.controls['hash'].hasError('minlength')">
                            la contraseña debe tener un minimo de <strong>6 caracteres</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </mat-card-content>

        <!-- botón enviar -->
        <button mat-raised-button color="primary" type="submit">
            <mat-icon>send</mat-icon> Enviar
        </button>
    </mat-card>
</form>